:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --trns: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active,
a:focus {
  outline: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding-left: 0;
}

button,
input,
textarea {
  outline: none;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--white);
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow-x: hidden;
}

@media screen and (min-width: 1158px) {
  body {
    font-weight: 400;
  }
}
.titleh1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: var(--white);
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.titleh2 {
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 111%;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.titleh3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.titleh3-mobil-advan {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}

.button-base {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: var(--white);
  background: var(--iris);
  border-radius: 4px;
  transition: background-color 250ms var(--trns);
}

.button-base:hover,
.button-base:focus {
  background-color: var(--ocean);
}

.social-icon {
  width: 40px;
  height: 40px;
  fill: var(--white);
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--trns);
}

@media (min-width: 1158px) {
  .titleh3-mobil-advan {
    font-size: 20px;
    line-height: 120%;
  }
}
.logotip {
  display: inline-block;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--iris);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-right: 16px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.social-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--iris);
}
.social-list--mobilemenu {
  gap: 40px;
}

.mobil-menu {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 52px 16px 40px;
  transform: translateY(-100%);
  overflow-y: auto;
  gap: 20px;
  transition: transform 0.6s;
}
.mobil-menu.is-burger-open {
  transform: translateY(0%);
}
.mobil-menu__list-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
}
.mobil-menu__list-item--active {
  color: var(--ocean);
}
.mobil-menu__list-link {
  display: block;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .mobil-menu {
    display: none;
  }
}
.mobil-menu__address {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
  margin-bottom: 36px;
}
.mobil-menu__address-link {
  display: block;
  padding: 12px 0;
}
.mobil-menu__address-link--active {
  color: var(--iris);
}
.mobil-menu .mobil-social-list {
  display: flex;
  justify-content: start;
  gap: 40px;
}
.mobil-menu .mobil-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.mobil-menu .mobil-icon {
  fill: var(--cloud);
  width: 24px;
  height: 24px;
}
.mobil-menu .mobil-close-button {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: var(--navy-blue);
  border-radius: 50%;
  border: 1px solid var(--cornflower);
  background-color: transparent;
  transition: background-color 250ms var(--trns), border 250ms var(--trns);
}

.header {
  position: relative;
  border-bottom: 1px solid var(----cornflower);
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav, .header-address {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav, .header-address {
    display: block;
  }
}
.header-nav {
  flex-grow: 1;
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms var(--trns);
}
.header-menu__link {
  position: relative;
  display: block;
  padding: 24px 0 23px;
  transition: color 250ms var(--trns);
}
.header-menu__link:hover, .header-menu__link:focus, .header-menu__link.is-active {
  color: #404bbf;
}
.header-menu__link:hover::after, .header-menu__link:focus::after, .header-menu__link.is-active::after {
  max-width: 100%;
}
.header-menu__link::after {
  position: absolute;
  display: block;
  content: "";
  border-radius: 2px;
  bottom: -1px;
  width: 100%;
  max-width: 0;
  height: 4px;
  background: #404bbf;
  transition: max-width 250ms var(--trns);
}
.header-address {
  font-style: normal;
}
.header-contacts {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1158px) {
  .header-contacts {
    flex-direction: row;
    gap: 40px;
  }
}
.header-contacts__link {
  display: block;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms var(--trns);
}
@media screen and (min-width: 1158px) {
  .header-contacts__link {
    font-size: 16px;
  }
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: #404bbf;
}

.logo-span {
  color: #2e2f42;
}

.burguer-button {
  padding: 16px 0;
  color: #2f2f37;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
  .header-menu-item {
    justify-content: center;
  }
  .burguer-button {
    display: none;
  }
}
@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.hero {
  position: relative;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
}
.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .container {
  position: relative;
  z-index: 2;
}
.hero-title {
  max-width: 216px;
  text-align: center;
  margin: 0 auto 72px;
}
.hero-button {
  min-width: 169px;
  margin: 0 auto;
  height: 56px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .hero-title {
    margin-bottom: 48px;
  }
}

.advantages-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}
.advantages-icon {
  display: none;
}
.advantages-title {
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    flex-direction: row;
    row-gap: 72px;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .advantages-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1158px) {
  .advantages-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background-color: var(--cloud);
    margin-bottom: 8px;
    padding: 24px 0;
  }
  .advantages-svg {
    width: 64px;
    height: 64px;
  }
  .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.team {
  background-color: var(--cloud);
}
.team-title {
  margin-bottom: 72px;
  text-align: center;
}
.team-cards-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 72px;
}
.team-card {
  max-width: 264px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-card-description {
  padding: 32px 0;
}
.team-card-name {
  margin-bottom: 8px;
}
.team-card-text {
  font-weight: 400;
  margin-bottom: 8px;
}
.team-card-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.team-card-icon {
  fill: var(--cloud);
  width: 16px;
  height: 16px;
}
.team-card-link:hover, .team-card-link:focus {
  background-color: var(--ocean);
}

@media screen and (min-width: 768px) {
  .team-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 24px;
         column-gap: 24px;
    row-gap: 64px;
  }
  .team-card {
    width: calc((100% - 24px) / 2);
  }
}
.portfolio-title {
  margin-bottom: 72px;
  text-align: center;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 48px;
}
.portfolio-item {
  cursor: pointer;
  transition: box-shadow 250ms var(--trns);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.portfolio-overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-overlay_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms var(--trns);
  color: var(--cloud);
  background-color: var(--iris);
  overflow-y: auto;
}
.portfolio-item:hover .portfolio-overlay_text {
  transform: translateY(0%);
}
.portfolio-description {
  padding: 32px 16px;
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
}
.portfolio-card_title {
  margin-bottom: 8px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    justify-content: space-between;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

.footer {
  background-color: var(--navy-blue);
  padding: 96px 0;
}
.footer-wraper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  gap: 72px;
}
.footer-logo {
  text-align: center;
}
.footer-logotip {
  margin-bottom: 16px;
}
.footer-logotip .logo {
  margin-bottom: 16px;
  color: var(--cloud);
}
.footer-text {
  width: 288px;
  font-weight: 400;
  color: var(--cloud);
  -moz-column-gap: unset;
       column-gap: unset;
}
.footer-social-title {
  text-align: center;
  color: var(--white);
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer .mobil-icon-link:hover,
.footer .mobil-icon-link:focus {
  background-color: var(--green);
}
.footer-icon-link {
  width: 24px;
  height: 24px;
  color: var(--white);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.footer-form {
  display: flex;
  flex-direction: column;
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  color: var(--white);
}
.footer-button-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 72px;
}
.footer-label-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  max-width: 165px;
  height: 40px;
  margin-left: 10px;
}
.footer-icon {
  fill: var(--white);
  width: 24px;
  height: 24px;
  margin-left: 16px;
}
.footer-input {
  background-color: inherit;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  font-weight: 500;
}
.footer-input::-moz-placeholder {
  color: var(--white);
}
.footer-input::placeholder {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .footer-wraper {
    flex-direction: row;
    text-align: start;
    gap: 72px 24px;
    padding-left: 108px;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-social-title {
    display: flex;
    flex-direction: row;
  }
  .footer-form {
    flex-direction: row;
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .footer-wraper {
    align-content: baseline;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    gap: 0px;
  }
  .footer-logo {
    margin-left: 120px;
    text-align: start;
  }
  .footer-input {
    opacity: unset;
  }
}

.backdrop {
  overflow: hidden;
  position: fixed;
  z-index: 10;
  overflow-y: auto;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--navy-blue-modal);
  transition: opacity 250ms var(--trns), visibility 250ms var(--trns);
}
.backdrop.is-open {
  opacity: 1;
  pointer-events: auto;
}
.backdrop.is-open .modal {
  transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 584px;
  max-width: 408px;
  width: calc(100% - 32px);
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input {
  font-family: inherit;
}

.form-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.form-button {
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: var(--cornflower);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 250ms var(--trns), border 250ms var(--trns);
}

.close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms var(--trns);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
  border: none;
}

.form-button:hover .close-icon {
  fill: #FFFFFF;
}

.form-button:focus .close-icon {
  fill: #FFFFFF;
}

.textarea-container {
  margin-bottom: 16px;
}

.form-label {
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}

.form-wrapper {
  position: relative;
  border-radius: 4px;
  margin-bottom: 8px;
}

.form-input {
  position: relative;
  font-family: inherit;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  padding-left: 38px;
  width: 100%;
  background-color: transparent;
  outline: transparent;
  height: 40px;
  transition: border-color 250ms var(--trns);
}

.input-container {
  margin-bottom: 8px;
}

.form-input:focus {
  border-color: var(--iris);
}

.form-input:focus + .form-icon {
  fill: var(--iris);
}

.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--navy-blue);
  transition: fill 250ms var(--trns);
}

.form-textarea {
  padding: 8px 16px;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  display: block;
  background-color: transparent;
  outline: none;
  transition: 250ms var(--trns);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
  border-color: var(--iris);
  transition: border-color 250ms var(--trns);
  resize: none;
  outline: transparent;
  border: 1px solid var(--navy-blue-modal);
}

.form-textarea:focus {
  border-color: var(--iris);
}

.form-textarea::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--navy-blue);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--navy-blue);
}

.form-checkbox-container {
  margin-bottom: 24px;
}

.form-label-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-empty {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid var(--navy-blue-modal);
  width: 16px;
  height: 16px;
  display: inline-flex;
  margin-right: 4px;
  fill: transparent;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms var(--trns), border 250ms var(--trns), fill 250ms var(--trns);
}

.form-checkbox:checked + .form-label-checkbox .checkbox-empty {
  background-color: var(--ocean);
  border: none;
  fill: #F4F4FD;
}

.form-link-privacy {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--iris);
}

.form-sendbutton {
  margin: 0 auto;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}