 .advantages {
   &-list {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 72px;
   }

   &-icon {
     display: none;
   }

   &-title {
     margin-bottom: 8px;
   }

   @media screen and (min-width:768px) {
     &-list {
       flex-direction: row;
       row-gap: 72px;
       column-gap: 24px;
     }

     &-item {
       flex-basis: calc((100% - 24px) / 2);
     }

   }

   @media (min-width: 1158px) {
     &-icon {
       display: flex;
       align-items: center;
       justify-content: center;
       border: 1px solid var(--light-slate);
       border-radius: 4px;
       background-color: var(--cloud);
       margin-bottom: 8px;
       padding: 24px 0;
     }

     &-svg {
       width: 64px;
       height: 64px;
     }

     &-item {
       flex-basis: calc((100% - 3 * 24px) / 4);
     }
   }
 }