.header {
  position: relative;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-nav,
  &-address {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &-nav {
    flex-grow: 1;
  }


  &-menu {
    display: flex;
    gap: 40px;

    &-item {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #2e2f42;
      transition: color 250ms var(--trns);
    }

    &__link {
      position: relative;
      display: block;
      padding: 24px 0 23px;
      transition: color 250ms var(--trns);

      &:hover,
      &:focus,
      &.is-active {
        color: #404bbf;

        &::after {
          max-width: 100%;
        }
      }

      &::after {
        position: absolute;
        display: block;
        content: "";
        border-radius: 2px;
        bottom: -1px;
        width: 100%;
        max-width: 0;
        height: 4px;
        background: #404bbf;
        transition: max-width 250ms var(--trns);
      }
    }
  }


  &-address {
    font-style: normal;
  }


  &-contacts {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1158px) {
      flex-direction: row;
      gap: 40px;
    }


    &__link {
      display: block;
      padding: 6px 0;
      font-size: 12px;
      line-height: 1.16667;
      letter-spacing: 0.04em;
      color: #434455;
      transition: color 250ms var(--trns);

      @media screen and (min-width: 1158px) {
        font-size: 16px;
      }

      &:hover,
      &:focus {
        color: #404bbf;
      }
    }
  }


}



.logo-span {
  color: #2e2f42;
}

.burguer-button {
  padding: 16px 0;
  color: #2f2f37;
  background-color: transparent;
}





@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }

  .header-menu-item {
    justify-content: center;

  }

  .burguer-button {
    display: none;
  }


}

@media screen and (min-width: 1158px) {

  .header-logo {
    margin-right: 76px;
  }




}