.hero {
  position: relative;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;

  // .hero-
  &-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    // .hero-image:after
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7))
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }
}





/* @media screen and (-webkit-min-device-pixel-ration: 2),
(min-resolution:192dpi),
(minresolution: 2dppx) */
/* @media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/webp/people_office_1x.webp);
  }

} */

.hero-title {
  max-width: 216px;
  text-align: center;
  margin: 0 auto 72px;

}

.hero-button {
  min-width: 169px;
  margin: 0 auto;
  height: 56px;

}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;

  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    margin-bottom: 48px;
  }
}